.abc{

        width:900px;
		height:700px;
		border: 1px solid black;
	    margin-left:150px;
		margin-top:150px;
		}
.def{
	width:300px;
	height:400px;
	float:left;
	
	
	
}


.ghi{
	width:300px;
	height:400px;
	float:left
	
}


.jkl{
	width:300px;
	height:400px;
	float:left;
	
	
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.home {
	background-color: #4CAF50;
}
.findingus {
	background-color: #ff9800;
}

.course 
{
	background-color: #2196F3;
	}
.staff{
	background-color: #f44336;
	}
	
	
	.media {
	background-color: #4CAF50;
}



.projects {
	background-color: #4CAF50;
}
li{
text-decoration:underline;
}